
:root{
	--main: #ffffff ;
	--darkblue: #362078;
	--black: #060606;
	--white: #e7dff4;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
header{
	padding: 20px 0px;
	
}
.container{
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
}
.col-div-6{
	width: 50%;
	float: left;
}
.logo{
    margin-left: 15px;
	font-weight: bold;
	font-size: 25px;
	color: var(--black);
}
.logo span{
	color: var(--main);
}
.nav{
	float: right;
}
.nav li{
	list-style: none;
	float: left;
	padding: 3px 20px;
}
.nav li a{
	text-decoration: none;
	color: var(--black);
}

.h2{
    margin-left: 40%;
    padding-bottom: 4%;
    padding-top: 4%;
}
.nav li button{
	padding: 7px 15px;
    background: var(--darkblue);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -5px;
}
.h:hover{
    background-color: rgb(125, 10, 135);
    height: 30px;
    top: 20px;
    
}
.nav li button:hover{
    background-color: rgb(255, 0, 140);    
}